<div class="card">
    <h1>Cadastrar fazenda</h1>
    <form>
        <div class="form-group">
            <label for="" id="farmName">Nome da fazenda</label>
            <input type="text">
            
            <label for="" id="geo">Geometria</label>
            <input type="text">
            
            <label for="" id="area">Àrea</label>
            <input type="text">
            
            <label for="" id="centroId">Centroid</label>
            <input type="text"> 

            <label for="" id="ownerId">Id do proprietário</label>
            <input type="">
        </div>
        <div class="btn">
            <button class="btnSucess">ATUALIZAR</button>
            <button routerLink="" class="btnReturn">VOLTAR</button>
        </div>
    </form>
</div>
