<div class="farmReg">
    <div class="card">
        <h1>Cadastrar fazenda</h1>
        <form>
            <div class="form-group">
                <label for="" id="farmName">Nome da fazenda</label>
                <input [(ngModel)]="farm.name" type="text">
                
                <label for="" id="area">Àrea</label>
                <input [(ngModel)]="farm.area" type="text">

                <label for="" id="centroId">Centroid</label>
                <input [(ngModel)]="farm.centroid" type="text"> 

                <label for="" id="geome">Geometria</label>
                <input [(ngModel)]="farm.geometry" type="text">

                <label for="" id="ownerId">Id do proprietário</label>
                <input [(ngModel)]="farm.owner" type="text">
            </div>
            <div class="btn">
                <button (click)="createfarm" class="btnSuccess">CADASTRAR</button>
                <button routerLink="/farm" class="btnCancel">CANCELAR</button>
            </div>
        </form>
    </div>
</div>

