<div class="farmReg">
    <div class="card">
        <h1>Cadastrar fazenda</h1>
        <form>
            <div class="form-group">
                <label for="" id="farmName">Nome da fazenda</label>
                <input type="text">
                
                <label for="" id="area">Àrea</label>
                <input type="text">

                <label for="" id="centroId">Centroid</label>
                <input type="text"> 

                <label for="" id="geome">Geometria</label>
                <input type="text">

                <label for="" id="ownerId">Id do proprietário</label>
                <input type="text">
            </div>
            <div class="btn">
                <button  class="btnSuccess">CADASTRAR</button>
                <button routerLink="/farm" class="btnCancel">CANCELAR</button>
            </div>
        </form>
    </div>
</div>

