<a class="selection" routerLink="">Voltar</a>

<div class="container-table">
    <h2>Lista de Fazendas</h2>

    <table class="table table-responsive">
        <thead>
            <tr>
                <td>Nome da fazenda</td>
                <td>Geometria</td>
                <td>Àrea</td>
                <td>Centro id</td>
                <td>ID do proprietário</td>
            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let farm of this.farmsArr">
                <td class="tab">{{ farm.name }}</td>
                <td class="tab">{{ farm.geometry }}</td>
                <td class="tab">{{ farm.area }}</td>
                <td class="tab">{{ farm.centroid }}</td>
                <td class="tab">{{ farm.owner }}</td>
                <td id="btnDel"><a (click)="deletar(farm.id)" class="btn-danger">DELETAR</a></td>
                <td id="btnUpd"><a (click)="atualizar(farm)" routerLink="/update-farm"class="btn-success">ATUALIZAR</a></td>
            </tr>
        </tbody>
        <!-- <button (click)="deletar(farm.id)" class="btn btn-danger">ATUALIZAR</button>
        <button (click)="atualizar(farm)" class="btn btn-success">DELETAR</button> -->
    </table>
</div>