.selection {
    display: block;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: #1f8cb7;
    margin-top: 1rem;
}

h2 {
    text-align: center;
    font-family: sans-serif;
}

.container-table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}


table{
    border: solid 1px rgb(7, 7, 7);
    padding: 10px;
    margin: auto;
    padding:5px;
}


td {
    color: #ffff;
    background-color: #1f8cb7;
    border: solid 1px rgb(0, 0, 0);
    padding: 10px;
    margin: auto;
    padding:5px;  
} 

.tab {
    background-color: #d5cfcf;
    color: black;
    
}

th {
    border: solid 1px rgb(0, 0, 0);
    padding: 10px;
    margin: auto;
    padding:5px;

}

#btnDel {
    background-color: #a81928de;
    border-radius: 5px;
}

.btn-success {
    text-decoration: none;
    color: #ffff;
}

#btnUpd{
    background-color: #28a745;
    border-radius: 5px;
    
}